button {
  outline: 0;
  border: none;
}

$accent: yellow;
$red: #F44336;

.App-header {
  background-color: #222;
  height: 46px;
  box-sizing: border-box;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1em;
  float: left;
  padding-left: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

.uprite-container {
  display: inline-block;
  background-color: #F44336;
}

.uprite {
  display: inline-block;
  width: 10px;
  background-color: rgb(63, 245, 63);
  height: 100%;
}

.row {
  padding: 30px;
}

.row:nth-child(even) {
  background: #f1f1f1;
}

.rc-slider-tooltip {
  z-index: 1;
}

.rc-slider-mark-text {
  font-family: 'Roboto Condensed', sans-serif;
}

.test {
  margin-bottom: -4px;
  font-size: .9em;
  color: #000000;
  background-color: #e0e0e0;
  border: 1px solid #9E9E9E;
  box-sizing: border-box;
  padding-top: 10px;
  overflow: hidden;
  display: inline-block;
}


.test {
  // margin-bottom: -4px;
  // font-size: .9em;
  // color: #000000;
  // background-color: #e0e0e0;
  // border: 1px solid #9E9E9E;
  // box-sizing: border-box;
  // padding-top: 10px;
  // overflow: hidden;
  // display: inline-block;
  &:hover {
    .delete-btn svg {
      display: inline;
    }
  }
}



.droppable-group {
  &:hover {
    .delete-btn svg {
      display: inline;
    }
  }
}

.builder {
  background-color: #ffffff;
  position: absolute;
  display: inline-block;
  width: 96px;
  height: 240px;
  top: 25px;
  left: 27px;
}

.builder-container {
  background-color: #fff;
  width: 270px;
  /* padding: 25px 0px 36px 5px; */
  border-radius: 5px;
  overflow: hidden;
  height: 310px;
  position: relative;
}

.builder-diagram {
  float: left;
  width: 180px;
  height: 310px;
  background-color: #d6d6d6;
  display: inline-block;
  position: relative;
}

// .Fixture {
//   margin-bottom: -4px;
//   display: inline-block;
// }

.builder-item {
  text-align: center;
  bottom: 0px;
  left: 0px;
  position: absolute;
  font-size: .9em;
  color: #000000;
  background-color: #e0e0e0;
  border: 1px solid #9E9E9E;
  box-sizing: border-box;
  padding-top: 10px;
  overflow: hidden;
}

.add-btn {
  background-color: aquamarine;
  margin-left: 12px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: none;
  position: absolute;
  font-size: 14px;
}

.first {
  right: 15px;
  bottom: 15px;
}

.second {
  right: 15px;
  bottom: 90px;
}

.add-btn:hover {
  background-color: #55deb0;
}




$angle-A: 90;
$angle-B: 45; // angle
$angle-C: $angle-A - $angle-B;

$side-c: 25; // depth


.box {
  position: absolute;
  width: 100%;
  height: 20px;
  background: lime;
  box-sizing: border-box;
  left: $side-c + px;
  bottom: (-$side-c) + px;
  z-index: 0;
//  opacity: .7;
}


.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: (-$side-c) + px;
  width: $side-c + px;
  height: 100%;
  background: pink;
  transform-origin: right bottom;
  transform: skewY($angle-C+deg);
}

.box::after {
  content: '';
  position: absolute;
  top: (-$side-c) + px;
  left: 0;
  width: 100%;
  height: $side-c + px;
  background: salmon;
  transform-origin: bottom left;
  transform: skewX($angle-B+deg);
}
