.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 46px;
  box-sizing: border-box;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1em;
  float: left;
  padding-left: 25px;
}

.App-intro {
  font-size: large;
}

.SortableContainer {
  background-color: #999;
  display: inline-block;
}

.row {
  padding: 40px;
}

.row:nth-child(even) {
  background: #f1f1f1;
}

.add-btn {
  margin-left: 30px;
}
